<!DOCTYPE html>
<html>
{include file='public/head' /}
<body>
    <div id="wrapper">
        {include file='public/nav' /}
        {include file='public/left' /}
        <div id="page-wrapper" style="border:1px solid red;">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">BLANK PAGE</h1>
                        <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-info">
                            This is a free responsive admin under cc3.0 license, so you can use it for personal and commercial use.
                          <br />
                            Enjoy this admin and for more please keep looking <a href="http://www.binarytheme.com/" target="_blank">BinaryTheme.com</a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">可以出弹层</div>
                            <div class="panel-body">
                                <button  class="btn btn-primary btn-lg dj" data-toggle="modal" data-target="#myModal">
                                    点击弹层
                                </button>
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" >
                                        <div class="col-md-8" style="border:1px solid red;">
                                            <div class="alert alert-success text-center">
                                            <h4> IMPORTANT NOTICE</h4>
                                            <hr>
                                            <i class="fa fa-warning fa-4x"></i>
                                            <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                                            </p>
                                            <hr>
                                            <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button class='test' >测试请求</button>

            </div>
        </div>
    </div>
</body>
</html>
{include file='public/js' /}

<script>
    $(function(){
        $('.test').click(function(){
            $('.dj').click();
        })
    })
</script>

