<!--login index -->
<link rel="stylesheet" href="__CSS__bootstrap.min.css">
<link rel="stylesheet" href="__VENDOR__font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="__VENDOR__linearicons/style.css">
<link rel="stylesheet" href="__CSS__main.css">
<link rel="stylesheet" href="__CSS__demo.css">
<link href="__CSS__googleapis.css" rel="stylesheet">
<!--login index -->


<!--login.html-->
<!--login.html-->

<!--index.html-->
<link rel="stylesheet" href="__VENDOR__chartist/css/chartist-custom.css">
<link rel="apple-touch-icon" sizes="76x76" href="__IMAGE__apple-icon.png">
<link rel="icon" type="image/png" sizes="96x96" href="__IMAGE__favicon.png">
<!--index.html-->