<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">可以出弹层</div>
            <div class="panel-body">
                <button  class="btn btn-primary btn-lg dj" data-toggle="modal" data-target="#myModal">
                    点击弹层
                </button>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog" >
                        <div class="col-md-8">
                            <div class="alert alert-success text-center">
                            <h4> IMPORTANT NOTICE</h4>
                            <hr>
                            <i class="fa fa-warning fa-4x"></i>
                            <p id="green" >显示操作的内容</p>
                            <hr>
                            <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>