<!-- LEFT SIDEBAR -->
<div id="sidebar-nav" class="sidebar">
    <div class="sidebar-scroll">
        <nav>
            <ul class="nav">
                <li><a href="index.html" class="active"><i class="lnr lnr-home"></i> <span>首页</span></a></li>
                <li>
                    <a href="#section" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>版块管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="section" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">添加版块</a></li>
                            <li><a href="page-login.html" class="">删除版块</a></li>
                            <li><a href="page-lockscreen.html" class="">添加版主</a></li>
                            <li><a href="page-lockscreen.html" class="">删除版主</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#oldMarket" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>旧货市场</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="oldMarket" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">旧货商品</a></li>
                            <li><a href="page-login.html" class="">交易中订单</a></li>
                            <li><a href="page-lockscreen.html" class="">成功订单</a></li>
                            <li><a href="page-lockscreen.html" class="">失败订单</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#user" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>会员管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="user" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">启用会员</a></li>
                            <li><a href="page-login.html" class="">警用会员</a></li>
                            <li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#class" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>班级管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="class" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">启用班级</a></li>
                            <li><a href="page-login.html" class="">警用班级</a></li>
                            <li><a href="page-lockscreen.html" class="">班级留言</a></li>
                            <li><a href="page-lockscreen.html" class="">班级公告</a></li>
                            <li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#notice" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>公告管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="notice" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">发表公告</a></li>
                            <li><a href="page-login.html" class="">删除公告</a></li>
                            <li><a href="page-lockscreen.html" class="">用户文章</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#message" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>留言管理</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="message" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">系统留言</a></li>
                            <li><a href="page-login.html" class="">用户留言</a></li>
                            
                            <li><a href="page-lockscreen.html" class="">版主留言</a></li>
                        </ul>
                    </div>
                </li>
                
                
                <li><a href="elements.html" class=""><i class="lnr lnr-code"></i> <span>站点管理</span></a></li>
                <li><a href="charts.html" class=""><i class="lnr lnr-chart-bars"></i> <span>Charts</span></a></li>
                <li><a href="panels.html" class=""><i class="lnr lnr-cog"></i> <span>Panels</span></a></li>
                <li><a href="notifications.html" class=""><i class="lnr lnr-alarm"></i> <span>Notifications</span></a></li>
                <li>
                    <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>Pages</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="subPages" class="collapse ">
                        <ul class="nav">
                            <li><a href="page-profile.html" class="">Profile</a></li>
                            <li><a href="page-login.html" class="">Login</a></li>
                            <li><a href="page-lockscreen.html" class="">Lockscreen</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="tables.html" class=""><i class="lnr lnr-dice"></i> <span>Tables</span></a></li>
                <li><a href="typography.html" class=""><i class="lnr lnr-text-format"></i> <span>Typography</span></a></li>
                <li><a href="icons.html" class=""><i class="lnr lnr-linearicons"></i> <span>Icons</span></a></li>
            </ul>
        </nav>
    </div>
</div>
<!-- END LEFT SIDEBAR -->