<html>
    <head>
        <title>test.html</title>
        <meta charset="utf-8" />
        <link href="assets/css/bootstrap.css" rel="stylesheet" />
        <link href="assets/css/font-awesome.css" rel="stylesheet" />
    </head>
    <body>
        <div id="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">可以出弹层</div>
                        <div class="panel-body">
                            <button  class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                                点击弹出一层
                            </button>
                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" >
                                    <div class="col-md-8" style="border:1px solid red;">
                                        <div class="alert alert-success text-center">
                                        <h4> IMPORTANT NOTICE</h4>
                                        <hr>
                                        <i class="fa fa-warning fa-4x"></i>
                                        <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                                        </p>
                                        <hr>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">确定</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 ">
                     <div class="alert alert-danger text-center">
                         <h4> IMPORTANT NOTICE</h4>
                         <hr />
                           <i class="fa fa-warning fa-4x"></i>
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.</p>
                         <hr />
                          <a href="#" class="btn btn-danger">Read Full Detalis</a>
                       </div>
                 </div>
           </div>

           <div class="row">
              <div class="col-md-12">
                   <div class="panel panel-default">
                     <div class="panel-heading">评论</div>
                       <div class="panel-body">
                           <ul class="media-list">
                             <li class="media">
                               <a class="pull-left" href="#">
                                 <img class="media-object img-circle" src="assets/img/user.gif">
                               </a>
                               <div class="media-body">
                                 <h4 class="media-heading">Lorem ipsum dolor sit amet</h4>
                                 <p>
                                    阿斯顿发送到
                                 </p>
                                 <!-- Nested media object -->
                                 <div class="media">
                                   <a class="pull-left" href="#">
                                     <img class="media-object img-circle" src="assets/img/user.png">
                                   </a>
                                   <div class="media-body">
                                     <h4 class="media-heading">Nulla gravida vitae neque </h4>
                                  阿萨.
                                     <!-- Nested media object -->
                                     <div class="media">
                                       <a class="pull-left" href="#">
                                        <img class="media-object img-circle" src="assets/img/user.gif">
                                       </a>
                                       <div class="media-body">
                                         <h4 class="media-heading">Donec sit amet ligula enim</h4>
                                            阿士大夫
                                       </div>
                                     </div>
                                   </div>
                                 </div>

                               </div>
                             </li>
                          </ul>
                        </div>
                      </div>
                    </div>
               </div>
           </div>












        </div>
    </body>
</html>

<!-- JQUERY SCRIPTS -->
<script src="assets/js/jquery-1.10.2.js"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="assets/js/bootstrap.js"></script>
