<!DOCTYPE html>
<html>
<head>
{include file='public/css' /}
</head>
<body style="background:floralwhite">
{include file='public/personal_head' /}

<div id="mainbody">
  <div class="info">
    <figure> <img src="__INDEX_PIC__b_jxed_l2.jpg"  alt="Panama Hat">
    </figure>
    <div class="card">
      <h1>资料卡片</h1>
      <p>昵称 | 性别</p>
      <p>年龄</p>
      <p>标签</p>
      <p>邮箱</p>
      <ul class="linkmore">
        <li><a href="/" class="talk" title="123"></a></li>
        <li><a href="/" class="address" title="132"></a></li>
        <li><a href="/" class="email" title="123"></a></li>
        <li><a href="/" class="photos" title="132"></a></li>
        <li><a href="/" class="heart" title="132"></a></li>
      </ul>
    </div>
  </div>
  <!--info end-->
  <div class="blank"></div>
  <div class="blogs">
    <ul class="bloglist">
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <div class="ci"></div>
          <h2 class="title"><a href="/" target="_blank">123</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="images/s1.jpg"></a>
            <p> 123</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">10</a></li>
            <li class="comments"><a href="#">34</a></li>
            <li class="icon-time"><a href="#">2013-8-7</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <div class="ci"></di
          <h2 class="title"><a href="/" target="_blank">123</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="images/s2.jpg"></a>
            <p> 132...</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">102</a></li>
            <li class="comments"><a href="#">58</a></li>
            <li class="icon-time"><a href="#">2013-8-7</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <div class="ci"></div>
          <h2 class="title"><a href="/" target="_blank">Nothing is as sweet as you</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="images/s3.jpg"></a>
            <p> 123 is as sweet as 132...</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">15</a></li>
            <li class="comments"><a href="#">2</a></li>
            <li class="icon-time"><a href="#">2013-8-7</a></li>
          </ul>
        </div>
        <!--arrow_box end-->
      </li>
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <div class="ci"></div>
          <h2 class="title"><a href="/" target="_blank">123</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="images/s4.jpg"></a>
            <p> 123...</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">102</a></li>
            <li class="comments"><a href="#">58</a></li>
            <li class="icon-time"><a href="#">2013-8-7</a></li>
          </ul>
        </div>
      </li>
      <li>
        <div class="arrow_box">
          <div class="ti"></div>
          <div class="ci"></div>
          <h2 class="title"><a href="/" target="_blank">123</a></h2>
          <ul class="textinfo">
            <a href="/"><img src="images/s5.jpg"></a>
            <p> 123,123...</p>
          </ul>
          <ul class="details">
            <li class="likes"><a href="#">15</a></li>
            <li class="comments"><a href="#">2</a></li>
            <li class="icon-time"><a href="#">2013-8-7</a></li>
          </ul>
        </div>
      </li>
    </ul>
    <aside>
        <div class="search">
            <form class="searchform" method="get" action="#">
                <input type="text" name="s" value="Search" onfocus="this.value=''" onblur="this.value='Search'">
            </form>
            </div>
      <div class="tuijian">
        <h2>最近文章</h2>
        <ol>
          <li><span><strong>1</strong></span><a href="/">123,123</a></li>
          <li><span><strong>2</strong></span><a href="/">132-123</a></li>
          <li><span><strong>3</strong></span><a href="/">132</a></li>
          <li><span><strong>4</strong></span><a href="/">132-312</a></li>
          <li><span><strong>5</strong></span><a href="/">132</a></li>
          <li><span><strong>6</strong></span><a href="/">Wedding-132</a></li>
          <li><span><strong>7</strong></span><a href="/">Column 132 132</a></li>
          <li><span><strong>8</strong></span><a href="/">23-123</a></li>
          <li><span><strong>9</strong></span><a href="/">132</a></li>
        </ol>
      </div>
      <div class="toppic">
        <h2>好友近况</h2>
        <ul>
          <li><a href="/"><img src="images/k01.jpg">132
            <p>132</p>
            </a></li>
          <li><a href="/"><img src="images/k02.jpg">132~
            <p>132</p>
            </a></li>
          <li><a href="/"><img src="images/k03.jpg">132
            <p>132</p>
            </a></li>
        </ul>
      </div>
      <div class="clicks">
        <h2>热门文章</h2>
        <ol>
          <li><span><a href="/">123</a></span><a href="/">123</a></li>
          <li><span><a href="/">123</a></span><a href="/">-123</a></li>
          <li><span><a href="/">123</a></span><a href="/">asdf</a></li>
          <li><span><a href="/">123</a></span><a href="/">asdf-</a></li>
          <li><span><a href="/">123</a></span><a href="/">asdf</a></li>
          <li><span><a href="/">Wedding</a></span><a href="/">Wedding-asdf</a></li>
          <li><span><a href="/">123</a></span><a href="/">Column</a></li>
          <li><span><a href="/">123</a></span><a href="/">asdf</a></li>
          <li><span><a href="/">123</a></span><a href="/">234</a></li>
        </ol>
      </div>

      <div class="viny">
        <h2>背景音乐</h2>
        <dl>
          <dt class="art"><img src="images/artwork.png" alt="asdf"></dt>
          <dd class="icon-song"><span></span>asdf</dd>
          <dd class="icon-artist"><span></span>afds</dd>
          <dd class="icon-album"><span></span>adsf</dd>
          <dd class="icon-like"><span></span><a href="/">afds</a></dd>
          <dd class="music">
            <audio src="images/nf.mp3" controls></audio>
          </dd>
        </dl>
      </div>
    </aside>
  </div>
</div>
{include file='public/personal_footer' /}
</body>
</html>
{include file='public/js' /}
