<html>
    {include file='public/head' /}
    <div id="wrapper">
        {include file='public/nav' /}
        {include file='public/left' /}
        <div id='page-wrapper' style="border:1px solid red;">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">公告内容</div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>公告内容</th>
                                    <th>时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                {if !empty($notice)}
                                {volist name='notice' id='vo'}
                                <tr class="list-group-item-success" id="tr"> 
                                    <td>{$vo['id']}</td>
                                    <td>{$vo['content']}</td>
                                    <td>{$vo['create_time']}</td>
                                    <td class="btn btn-danger del">删除</td>
                                </tr>
                                {/volist}
                                {/if}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
{include file='public/js' /}
<script>
    $(function(){
        $(".del").click(function(){
            var id = $(this).prev().prev().prev().text();
            $.get("{:url('Notice/delNotice')}",{id:id},function(res){
                if(res == 200)
                {
                    $("#tr").each(function(){
                        $(this).remove();
                    })
                } else if(res == 401){
                    alert('参数不正确');
                    return false;
                } else if(res == 603) {
                   alert('删除失败!');
                   return false;
                }
            })
        })
    })
</script>



