<header>
  <nav id="nav">
    <ul>
      <li><a href="{:url('Index/index')}" >首页</a></li>
      <li><a href="{:url('Article/pubArticle')}" target="_blank" title="123">编写文章</a></li>
      <li><a href="{:url('Space/space')}" target="_blank" title="132">同学录</a></li>
      <li><a href="{:url('Clbum/myClass')}" target="_blank" title="312">班级</a></li>
      <li><a href="/newshtml5/" target="_blank" title="HTML5 / CSS3">好友</a></li>
      <li><a href="/jstt/" target="_blank" title="132">我的留言</a></li>
      <li><a href="/news/s/" target="_blank" title="123">个人资料</a></li>
      <li><a href="/newstalk/" target="_blank" title="132">兑换记录</a></li>
      <li><a href="/news/jsex/" target="_blank" title="JS 132">系统公告</a></li>
    </ul>
    <script src="js/silder.js"></script>
  </nav>
</header>
